version: 2.1

jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:7.0

    steps:
      - checkout

      - run:
          name: Restore
          command: |
            cd firstapp123
            dotnet restore

      - run:
          name: Build
          command: |
            cd firstapp123
            dotnet build --configuration Release

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
